@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .af-container{
        @apply mx-[50px];
    }

    .af-button {
        @apply flex justify-center items-center dark:bg-af-black-light bg-af-white-light shadow-af-l rounded-2xl text-af-gray-light hover:text-af-primary hover:cursor-pointer transition-colors p-3;
    }

    .af-tooltip {
        @apply absolute hidden items-center justify-center gap-x-2 bottom-full left-1/2 transform -translate-x-1/2 transition-opacity duration-300 opacity-0 py-2 px-5 mb-2 text-xs rounded bg-af-black-light text-af-white-light;
    }
    .af-tooltip::after {
        @apply absolute border-solid top-full -ml-[5px] border-[5px]
        border-t-af-black-light border-r-transparent border-l-transparent border-b-transparent;
        content: "";
    }

    .af-dropdown {
        @apply relative
    }

    .af-tab-active {
        @apply bg-af-black-light text-af-white-light dark:bg-af-primary dark:text-af-white-light;
    }
    .af-tab-normal {
        @apply bg-af-white-light text-af-black-light hover:bg-af-black-light hover:text-af-white-light dark:bg-af-black-light dark:text-af-white-light dark:hover:bg-af-primary;
    }
    .tab-content {
        @apply transition-opacity ease-in-out;
    }

    .af-accordion-open {
        @apply max-h-screen im;
    }
    .af-accordion-content {
        overflow: hidden !important;
        transition-property: all !important;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
        transition-duration: 500ms !important;
    }
    .af-accordion-content--open{
        @apply max-h-screen;
    }
    .af-accordion-content--close{
        @apply max-h-0;
    }

    .af-carousel {
        @apply transition-transform ease-in-out duration-500;
    }
    .af-carousel-wrapper {
        @apply w-full h-full overflow-x-clip;
    }

    .af-infinite-scroll-container {
        @apply relative overflow-hidden w-full;
    }
    .af-infinite-scroll-content {
        @apply absolute flex flex-col gap-y-5;
    }

    .af-glassy-loading {
        @apply relative overflow-hidden bg-af-black-light rounded;
    }
    .af-glassy-loading::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;
        background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.7) 50%,
            rgba(255, 255, 255, 0) 100%
        );
        animation: glassy-loading 1.5s infinite;
    }
    @keyframes glassy-loading {
        0% {
            left: -100%;
        }
        100% {
            left: 100%;
        }
    }

    .custom-transition-all {
        transition: all 0.5s;
    }
    .custom-transition-300 {
        transition-property: all !important;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
        transition-duration: 300ms !important;
    }
    .custom-transition-500 {
        transition-property: all !important;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
        transition-duration: 500ms !important;
    }

    .section-title{
        @apply text-3xl text-white font-bold mb-2;
    }
    .button-hover{
        @apply cursor-pointer hover:text-af-primary transition-colors;
    }
    .custom-group-hover{
        @apply cursor-pointer text-af-primary transition-colors;
    }
    .submenu-desktop{
        @apply text-base p-1 hover:text-af-black-light text-af-white-light hover:bg-af-primary hover:shadow-af rounded-2xl text-center transition-colors w-32;
    }
    .submenu-mobile{
        @apply flex flex-col gap-y-3 pr-10 mt-3 text-sm text-af-black-light child-hover:button-hover dark:text-af-white-light;
    }
    .submenu-mobile--close{
        @apply hidden;
    }

    .subscription-gradient-overlay-desktop::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            to left,
            rgba(24, 24, 24, 0.9) 5%,
            rgba(24, 24, 24, 0.8) 20%,
            rgba(24, 24, 24, 0.7) 30%,
            rgba(24, 24, 24, 0.6) 60%,
            rgba(24, 24, 24, 0.5) 70%,
            rgba(24, 24, 24, 0.5) 80%,
            rgba(24, 24, 24, 0.5) 100%
        );
    }
    .show-gradient-overlay-desktop::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            to left,
            rgba(24, 24, 24, 0.9) 5%,
            rgba(24, 24, 24, 0.8) 10%,
            rgba(24, 24, 24, 0.7) 15%,
            rgba(24, 24, 24, 0.6) 30%,
            rgba(24, 24, 24, 0.5) 40%,
            rgba(24, 24, 24, 0.3) 80%,
            rgba(24, 24, 24, 0.0) 100%
        );
    }
    .show-gradient-overlay-mobile::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.9) 25%,
            rgba(0, 0, 0, 0.7) 25%
        );
    }
    .poster-gradient-overlay::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 1rem;
    }
    .home-slider-gradient-overlay::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            to right,
            rgba(24, 24, 24, 0.9) 10%,
            rgba(24, 24, 24, 0.8) 25%,
            rgba(24, 24, 24, 0.7) 35%,
            rgba(24, 24, 24, 0.6) 45%,
            rgba(24, 24, 24, 0.5) 55%,
            rgba(24, 24, 24, 0.3) 80%,
            rgba(24, 24, 24, 0.0) 100%
        );
    }
    .home-slider-gradient-overlay::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            to top,
            rgba(24, 24, 24, 1) 2%,
            rgba(24, 24, 24, 0.7) 15%,
            rgba(24, 24, 24, 0.6) 20%,
            rgba(24, 24, 24, 0.5) 30%,
            rgba(24, 24, 24, 0.4) 40%,
            rgba(24, 24, 24, 0.3) 50%,
            rgba(24, 24, 24, 0.1) 60%,
            rgba(24, 24, 24, 0) 100%
        );
    }

    .episode {
        @apply flex justify-between items-center h-[50px] w-[320px] px-9 py-3 font-kalameh-medium bg-af-gray-light-0 text-af-black-light dark:bg-af-white-light dark:text-af-black-light rounded-lg;
    }
    .quality {
        @apply flex items-center justify-center py-2 px-4 dark:hover:text-af-white-light dark:hover:bg-af-primary bg-af-gray-light-0 text-af-black-light dark:bg-af-white-light dark:text-af-black-light rounded-lg;
    }

    .paginator {
        @apply flex items-center justify-center rounded-xl w-9 h-9 hover:cursor-pointer;
    }
    .paginator--button {
        @apply shadow-af bg-af-gray-light-1 dark:bg-af-primary;
    }
    .paginator--active {
        @apply shadow-af bg-af-gray-light-1 dark:bg-af-primary hover:cursor-not-allowed;
    }
    .paginator--selectable {
        @apply text-af-black-light dark:text-af-white-light bg-af-gray-light-1 dark:bg-af-primary;
    }
    .paginator--page {
        @apply text-af-black-light dark:text-af-white-light bg-none;
    }

    .custom-truncate {
        @apply inline-block truncate max-w-[40ch];
        direction: ltr;
    }
    .custom-truncate-r {
        @apply inline-block truncate max-w-[40ch];
        direction: rtl;
    }
    .custom-truncate--20 {
        @apply max-w-[20ch];
    }
    .custom-truncate--40 {
        @apply max-w-[40ch];
    }
    .custom-truncate--150 {
        @apply max-w-[150ch];
    }
    .custom-truncate--200 {
        @apply max-w-[200ch];
    }
    .custom-truncate--300 {
        @apply max-w-[300ch];
    }
    .custom-truncate-r--20 {
        @apply max-w-[20ch];
    }
    .custom-truncate-r--40 {
        @apply max-w-[40ch];
    }
    .custom-truncate-r--150 {
        @apply max-w-[150ch];
    }
    .custom-truncate-r--200 {
        @apply max-w-[200ch];
    }
    .custom-truncate-r--300 {
        @apply max-w-[300ch];
    }

    .show-rate-progress-circle {
        position: relative;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: conic-gradient(#15de26 0% 80%, rgba(21, 222, 38, 0.2) 80% 100%);
    }
    .show-rate-progress-circle::before {
        content: '';
        position: absolute;
        width: 80%;
        height: 80%;
        background-color: rgb(42 43 46);
        border-radius: 50%;
    }
}

@layer base{
    @font-face {
        font-family: "Kalameh";
        src: local("Kalameh"), url("../fonts/Kalameh-Regular.ttf") format("truetype");
        font-display: swap;
    }
    @font-face {
        font-family: "Kalameh Medium";
        src: local("Kalameh Medium"), url("../fonts/Kalameh-Medium.ttf") format("truetype");
        font-display: swap;
    }
    @font-face {
        font-family: "Kalameh Bold";
        src: local("Kalameh Bold"), url("../fonts/Kalameh-Bold.ttf") format("truetype");
        font-display: swap;
    }
    body{
        @apply font-kalameh;
    }
}

/* Mobile Menu Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(84, 64, 43);
    border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(84, 64, 43, 0.7);
}
.custom-scrollbar {
    scrollbar-color: rgb(84, 64, 43) transparent;
    scrollbar-width: thin;
}


/* Desktop Menu Scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-thumb {
    background: #3f3f3f;  /* Color of the scrollbar handle */
    border-radius: 6px;  /* Rounded edges */
}
::-webkit-scrollbar-thumb:hover {
    background: #3f3f3f;  /* Darker color when hovering */
}
::-webkit-scrollbar-track {
    background: #808080;  /* Color of the track */
    border-radius: 6px;  /* Rounded edges */
}
::-webkit-scrollbar-corner {
    background: #808080;  /* Background color of the corner where two scrollbars meet */
}
